<?xml version= "1.0" encoding= "utf-8"?>
<config
	xmlSource="banner.xml"
	slideLoop="0"
	slideDuration="6"
	slideTransitionDuration="1"
	captionTransition="Strong"
	captionTransitionDuration="1"
	fontsXMLSource="fonts.xml"
	fontsEmbedded="false"
	frameWidth="475"
	frameHeight="230"
	frameBgColor="0x707070"
	frameBgTransparent="1"
	framePaddingTop="20"
	framePaddingBottom="20"
	framePaddingLeft="20"
	framePaddingRight="20"
	frameCornerRadius="20"
	controlsBarColor="0x000000"
	controlsBarTransparent="0.3"
	controlsColor="0xFFFFFF"
	controlsHighlight="0xF9D455"
	controlsBgColor="0xFFFFFF"
	controlsBgTransparent="0.15"
	localizationPlay="PLAY"
	localizationPause="PAUSE"
	localizationRestart="RESTART">
</config>