@charset "utf-8";
@import url("Showreel CSS.css");
/* CSS Document */


#breadcrumps2{
	position:absolute;
	left: 200px;
	top: 164px;
}
#color{
		margin-left:auto;
		margin-right:auto;
		width:565px;
}
#charactercustomization{
	margin-left:auto;
	margin-right:auto;
	width:565px
}
#characterview{
	position:absolute;
	width:72px;
	left: 256px;
	top: 96px;
	height: 91px;
}#characterview2{
	position:absolute;
	width:72px;
	left: 231px;
	top: 119px;
	height: 91px;
}
#characterview3{
	position:absolute;
	width:72px;
	left: 251px;
	top: 195px;
	height: 91px;
}
#characterview4{
	position:absolute;
	width:72px;
	left: 237px;
	top: 158px;
	height: 91px;
}
#characterview5{
	position:absolute;
	width:72px;
	left: 240px;
	top: 189px;
	height: 91px;
}
#productdetails1{
	position:absolute;
	left: 215px;
	top: 648px;
}
#productdetails{
	position:absolute;
	left: 214px;
	top: 735px;
}

#productdetails2{
	position:absolute;
	left: 220px;
	top: 602px;
}
#productdetails3{
	position:absolute;
	left: 183px;
	top: 719px;
}




	height:50px
	z-index:55;
	left: 244px;
	top: 115px;
}
#main_view{
	width:565px;
}
#shirtview {
	padding: 9px 0;
	margin-left: -10px;
	z-index:50;
}

#textincenter{
	text-align:left;
	font-size: medium;
}
#breadcrumps{
	position:absolute;
	width:auto;
	left: 180px;
	top: 184px;
	width:481px;
}
#left{
	width:188px;
}
#testimonials{
	text-align:center;
	width:188px;
	bottom:100%;


}
	
	
#custom{
	width:565px;
	
}
#center{
	width:565px;
	position:absolute;
	left:207px;
	top: 211px;
	text-align:center;
	height:auto;
	z-index:10;
}
#flash{
	z-index:1;
	
}
#center1{
	width:546px;
	position:absolute;
	left:224px;
	top: 183px;
	text-align:center;
	height:863px;
}
#right{
	width:188px;
	position:absolute;
	left: 810px;
	top: 185px;
	text-align: center;
	
}
#copyright2{
	margin-left:auto;
	margin-right:auto;
	background-image:url(../Images/submenubar_bg.png);
	text-align:center;
	width:900px;
	color: #FFF;
}
ul#topnav li {
	float: left;
	margin: 0; padding: 0;
	position: relative; /*--Important--*/
}
ul#topnav li a {
	float: left;
	text-indent: -9999px; /*--Push text off of page--*/
	height: 44px;
}
ul#topnav li:hover a, ul#topnav li a:hover { background-position: left bottom; } /*--Hover State--*/

ul#topnav a.home {
	background: url(../Images/buttons/menubar_2.png) no-repeat;
	width:107px;
	
}
ul#topnav a.promotions {
	background: url(../Images/buttons/menubar_3.png) no-repeat;
	width:181px;
}
ul#topnav a.products {
	background: url(../Images/buttons/menubar_4.png) no-repeat;
	width:150px;
}
ul#topnav a.license {
	background: url(../Images/buttons/menubar_5.png) no-repeat;
	width:131px;
}
ul#topnav a.support {
	background: url(../Images/buttons/menubar_6.png) no-repeat;
	width:122px;
}
ul#topnav a.aboutUs {
	background: url(../Images/buttons/menubar_7.png) no-repeat;
	width:209px;
}

ul#topnav li .sub {
	position: absolute; /*--Important--*/
	top: 44px; left: 0;
	z-index: 99999;
	background: #344c00 url(../Images/submenubar_bg.png) repeat-x; /*--Background gradient--*/
	padding: 20px 20px 20px;
	float: left;
	/*--Bottom right rounded corner--*/
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	/*--Bottom left rounded corner--*/
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	display: none; /*--Hidden for those with js turned off--*/
}
ul#topnav li .row { /*--If needed to break out into rows--*/
	clear: both;
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
ul#topnav li .sub ul{
	list-style: none;
	margin: 0; padding: 0;
	width: 150px;
	float: left;
}
ul#topnav .sub ul li {
	width: 100%; /*--Override parent list item--*/
	color: #fff;
}
ul#topnav .sub ul li h2 { /*--Sub nav heading style--*/
	padding: 0;  margin: 0;
	font-size: 1.3em;
	font-weight: normal;
}
ul#topnav .sub ul li h2 a { /*--Sub nav heading link style--*/
	padding: 5px 0;
	background-image: none;
	color: #e8e000;
}
ul#topnav .sub ul li a {
	float: none;
	text-indent: 0; /*--Override text-indent from parent list item--*/
	height: auto; /*--Override height from parent list item--*/
	background: url(../Images/menubararrow.gif)  no-repeat 5px 12px;
	padding: 7px 5px 7px 15px;
	display: block;
	text-decoration: none;
	color: #fff;
}
ul#topnav .sub ul li a:hover {
	color: #ddd;
	background-position: 5px 12px ;/*--Override background position--*/
}
